<div data-controller="chart"
     data-chart-labels-value="<%= labels.to_json %>"
     data-chart-data-value="<%= data.to_json %>"
     data-chart-type-value="bar"
     class="w-full h-full">
     <div class="flex justify-end">
     <strong><h1>Individual progress</h1></strong>
     </div>
  <canvas data-chart-target="canvas" class="w-full h-[250px]"></canvas>
</div>
