<strong><h1><%= @household.name %> spending progress</h1></strong>
<div class="w-full h-64 relative">
  <canvas id="houseSpentChartCarousel" class="w-full h-full"></canvas>
</div>

<% user_names = @household_users.map(&:name) %>
<% user_data = @user_weekly_spending %>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  document.addEventListener("turbo:load", () => {
    const houseSpentCtx = document.getElementById('houseSpentChartCarousel');
    if (!houseSpentCtx) return;

    const userLabels = <%= raw(user_names.to_json) %>;
    const userData = <%= raw(user_data.to_json) %>;

    new Chart(houseSpentCtx, {
      type: 'bar',
      data: {
        labels: userLabels,
        datasets: [{
          label: 'Total Spend',
          data: userData,
          backgroundColor: 'rgba(2, 2, 249, 0.5)',
          borderColor: 'rgb(0, 0, 0)',
          borderWidth: 1
        }]
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          y: { beginAtZero: true }
        }
      }
    });
  });
</script>
