<div class="relative h-full">
  <div class="absolute top-2 right-2 flex flex-col items-end space-y-2">
    <button
      data-action="click->modal#open"
      class="text-blue-600 hover:text-blue-800 text-sm"
      title="Edit Household"
    >
      ✏️
    </button>
  </div>

  <div class="pr-10 text-center">
    <h2 class="text-xl font-semibold mb-2"> <%= current_user.household.name %></h2>

    <ul class="space-y-1 text-blue-700">
      <% current_user.household.users.each do |member| %>
        <li> <%= member.name %></li>
      <% end %>
    </ul>
    <%= link_to "Send invite", "#", class: "block hover:underline mt-2 text-blue-600" %>
    <%= link_to "Leave #{current_user.household.name}", "#", class: "block hover:underline mt-2 text-blue-600" %>

    </div>
</div>
