  <div data-controller="embla" class="h-full relative overflow-hidden">
  <!-- Viewport -->
  <div data-embla-target="viewport" class="h-full overflow-hidden">
    <div class="flex h-full">
    <% slides = [
        { partial: "carousel_one", locals: { labels: overall_labels, data: overall_data, chart_type: "doughnut" } },
        { partial: "carousel_two", locals: { user: current_user } },
        { partial: "carousel_three", locals: { labels: labels, data: data } },
        { partial: "carousel_four", locals: { user: current_user } }
      ] %>
      <!-- Slides -->
      <% slides.each do |slide| %>
        <div class="flex-[0_0_100%] h-full px-4">
          <div class="h-full w-full overflow-auto">
            <%= render partial: slide[:partial], locals: slide[:locals] %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <!-- Buttons -->
  <button data-embla-target="prevBtn" class="absolute left-2 top-1/2 -translate-y-1/2 bg-white p-2">
    ⬅️
  </button>
  <button data-embla-target="nextBtn" class="absolute right-2 top-1/2 -translate-y-1/2 bg-white p-2">
    ➡️
  </button>
</div>
