  <div class="my-1">
    <%= form_with url: dashboard_path, method: :get, local: true, class: "inline-block" do %>
      <label for="week" class="block mb-1 text-sm font-medium text-gray-700">Select Week:</label>
      <%= select_tag :week, options_for_select((0..4).map { |i|
          date = Date.current.beginning_of_week(:monday) - i.weeks
          [date.strftime("Week of %B %d, %Y"), date.to_s]
        }, selected: @start_of_week.to_s),
        onchange: "this.form.submit()",
        class: "block w-full border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm p-2"
      %>
    <% end %>
  </div>
  <div data-controller="embla" class="h-[400px] relative overflow-hidden">
  <!-- Viewport -->
  <div data-embla-target="viewport" class="h-full overflow-hidden">
    <div class="flex h-full">
    <% slides = [
        { partial: "carousel_one", locals: { labels: overall_labels, data: overall_data, chart_type: "doughnut" } },
        { partial: "carousel_two", locals: { user: current_user } },
        { partial: "carousel_three", locals: { labels: labels, data: data } },
        { partial: "carousel_four", locals: { user: current_user } }
      ] %>
      <!-- Slides -->
      <% slides.each do |slide| %>
        <div class="flex-[0_0_100%] h-full px-4">
          <div class="h-full w-full overflow-auto">
            <%= render partial: slide[:partial], locals: slide[:locals] %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <!-- Buttons -->
  <button data-embla-target="prevBtn" class="absolute left-2 top-1/2 -translate-y-1/2 bg-white p-2">
    ⬅️
  </button>
  <button data-embla-target="nextBtn" class="absolute right-2 top-1/2 -translate-y-1/2 bg-white p-2">
    ➡️
  </button>
</div>
