<!-- <h1 class="text-xl font-semibold"><%= current_user.household.name %> Statistics</h1> -->
  <div class="flex">
    <div id="donutchart" data-chartvalues="<%= @chore_status_data.to_json %>" style="width: 400px; height: 225px;"></div>
  </div>
