<div class="flex gap-6 h-screen px-6 py-4 overflow-hidden">
  <!-- Left Card -->
  <div class="w-1/2 bg-white rounded-lg shadow p-6 min-h-0 overflow-hidden">
    <div class="h-full overflow-auto">
      <%= render "my_chores_dashboard" %>
    </div>
  </div>
