<div class="mt-40 text-center">
  <h1 class="text-8xl text-gray-900 font-bold mb-4" style="font-family: 'Koulen', sans-serif">
    CheckMate
  </h1>

  <h2 class="text-xl text-gray-700 typing-animation mx-auto max-w-md">
    Your mate, to help manage
  </h2>

  <div class="mx-auto mt-8 inline-block border-4 border-blue-400 rounded-3xl shadow-xl p-2 bg-white overflow-hidden">
    <%= image_tag "Chores.gif", alt: "Chores animation", class: "w-90 rounded-2xl -mt-3" %>
  </div>
</div>
